

<div class="row-fluid">
	<div class="span5"></div>
		<h1>Your Calendar</h1>
		<div class='span5'></div>
	<div class="span1"><p class="btn btn-success">Sing up</p></div>
	<div class="span4"><p class="btn btn-primary">Log in</p></div>
</div>


